title {
    background-color: black;
    color:green;
    border: 2px solid red;
}
.meow {
    display: flex;
    background-color: darkblue;
    border: 2pc solid white;
    empty-cells: show;
    justify-content: center;
}

.element {
    font-size: 22px;
}